/* general rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --bg-color: RGB(180, 208, 231);
    --btn-color: RGB(0, 97, 255);
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* header rules */

/* nav rules */


.nav-container {
    width: 100%;
    height: 4em;
    position: fixed;
    background-color: white;
    z-index: 999;
}

.nav-container-left {
    width: 37%;
    height: 100%;
    float: left;
}

.nav-container-right {
    width: 37%;
    height: 100%;
    float: right;
}

.nav-container-left img {
    height: 20px;
    vertical-align: middle;
    margin-top: 1.5em;
    margin-left: 2em;
}

.nav-container-left ul {
    display: inline;
}

.nav-container-right  ul li,
.nav-container-left  ul li {
    display: inline;
    vertical-align: bottom;
    margin-left: 3em;
    padding: 1.1em 0;
}

.nav-container-right ul li {
    line-height: 4em;
    padding: 1.2em 0;
}


.nav-container-right ul li:hover,
.nav-container-left  ul li:hover {
    border-bottom: 2px solid black;
    cursor: pointer;
}

.nav-container-right  ul li a,
.nav-container-left  ul li a {
    color: black;
    font-size: 0.7em;
    text-decoration: none;
}

.btnblue {
    font-size: 0.7em;
    color: white;
    padding: 5px 15px;
    background-color: var(--btn-color);
    border: none;
    margin-bottom: 20px;
}

.btnblue:hover {
    box-shadow:  2px 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}



/* jumbotron rules */

.jumbo {
    width: 100%;
    height: 700px;
    background-color:var(--bg-color);
}

.big-container{
    padding-top: 6em;
    width: 80%;
    margin: 0 auto;
}

.jumbo-title {
    font-weight: bold;
    font-size: 4.4em;
}

.call-to-action {
    width: 30%;
}

.call-to-action p {
    margin-top: 2em;
    font-size: 0.9em;
}

.call-to-action .btnblue {
    margin-top: 1.7em;
    font-size: 0.9em;
}

.call-to-action span {
    display: block;
    font-size: 0.9em;
}

#darrow {
    display: inline-block;
    color: black;
    font-size: 2em;
    margin-top: 1em;
}

.jumbo-img {
    position: relative;
}

.jumbo-img img {
    width: 65%;
    position: absolute;
    top: -16em;
    right: -3em;
}

/* main rules */

/* firs section rules */

.plans-container {
    width: 70%;
    height: 1300px;
    margin: 0 auto;
    margin-top: 10em;
}

.section-title {
    width: 100%;
    height: 10%;
}

.section-title h2 {
    font-size: 2em;
    font-weight: bold;
}

.input-container span {
    margin-right: 1em;
    line-height: 6em;
}

.plans {
    width: 100%;
    height: 70%;
}

.col {
    width: calc(100% / 3 - 2em);
    height: 80%;
    border: 1px solid black;
    float: left;

}

.col-title span {
    display: block;
    padding: 1em;
    text-align: center;
    border-bottom: 1px solid black;
}

.col-contained {
    width: 90%;
    margin: 0 auto;
    margin-top: 2em;
}

.col-contained h3 {
    font-size: 1.5em;
}

.col-contained .price {
    display: block;
    margin-top: 1em;
    font-size: 0.8em;
    font-weight: bold;
}

.col-contained .when {
    margin-top: 1em;
    display: block;
    font-size: 0.7em;
    color: grey;
}

.col-contained .buy-now,
.col-contained .features,
.col-contained .user-number, 
.col-contained .memory {
    display: block;
    margin-top: 1.5em;
    font-size: 0.7em;
}

.col-contained .btnblue {
    width: 100%;
    margin-top: 2em;
    font-size: 0.7em;
    margin-bottom: 0;
}

hr {
    display: block;
    width: 20%;
    margin-top: 2em;
}

.col-contained h4 {
    font-size: 1em;
    margin-top: 2em;
}

.col-contained ul {
    list-style: none;
}

.col-contained ul li {
    font-size: 0.7em;
    margin: 1.8em 0;
}

.col-container ul li span {
    font-weight: bold;
    color: blue;
}

.col.center {
    margin: 0 3em;
}

.contacts {
    width: 100%;
    height: 15%;
    border: 1px solid black;
}

.contacts .contact-title {
    display: block;
    padding: 0.5em;
    text-align: center;
    border-bottom: 1px solid black;
}

.contacts-contained {
    width: 95%;
    margin: 1.7em auto;
    
}

.contacts-contained h3 {
    display: inline;
    font-size: 1.5em;
}

.contacts-contained .btnblue {
    margin-left:calc(100% - 30%);
}

.contacts-contained .subtitle {
    font-weight: bold;
    margin-top: 1em;
    font-size: 0.8em;
}

.contacts-contained p {
    font-size: 0.8em;
    margin-top: 1.5em;
}

/* second section rules */

.partners-container {
    width: 70%;
    height: 450px;
    margin: auto;
}

.partners-img {
    width: 50%;
    height: 100%;
    float: left;
}

.partners-img img {
    width: 100%;
    height: 100%;object-position: center;
}

.partners-text {
    width: 45%;
    height: 100%;
    float: left;
    margin-left: 5%;
}

.partners-text h3 {
    font-size: 1.5em;
}

.partners-text p {
    font-size: 0.9em;
    margin-top: 3em;
    line-height: 2em;
}

.partners-text .btnblue {
    background-color:white;
    color: black;
    border: 1px solid black;
    font-weight: bold;
    margin-top: 3em;
    font-size: 0.9em;
}

/* third section rules */

.functions-container {
    width: 70%;
    height: 1250px;
    margin: 10% auto;
}

.functions-title {
    width: 100%;
    height: 12%;
}

.functions-title h2 {
    font-size: 2em;
}

.functions-grill {
    width: 100%;
    height: 88%;
}

.element-container {
    width: calc(100% / 3 - 5%);
    height: 45%;
    float: left;
    margin-bottom: 5%;
}


.element-img img{
    width: 100%;
}

.element-title h3 {
    font-size: 1.5em;
}

.element-paragraph p {
    font-size: 0.9em;
    margin-top: 2em;
    line-height: 1.5em;
}

#dropbox-paper {
    text-decoration: underline;
}

.element-container-middle{
    width: calc(100% / 3 - 5%);
    height: 45%;
    float: left;
    margin: 0 5%;
}





/* fourth section rules */

.clients-container {
    width: 100%;
    height: 800px;
    background-color: darkgoldenrod;
}

.clients-container .spam {
    width: 70%;
    height: 20%;
    background-color: darkorchid;
    margin: 0 auto;
}

.clients-container .logos {
    width: 100%;
    height: 50%;
    background-color: darkslategrey;
}

.clients-container .final-spam {
    width: 100%;
    height: 30%;
    background-color: var(--bg-color);
}

/* fifth section */

.frequently-asked-container {
    width: 70%;
    height: 500px;
    background-color: violet;
    margin: 0 auto;
}

/* /main rules */

/* footer rules */

.footer-container {
    width: 100%;
    height: 400px;
    background-color: black;
}