/* general rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --bg-color: RGB(180, 208, 231);
    --btn-color: RGB(0, 97, 255);
}

html {
    font-size: 100%;
}

body {
    width: 90%;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* header rules */

/* nav rules */

.nav-container {
    width: 100%;
    height: 4em;
}

.nav-container-left {
    width: 37%;
    height: 100%;
    float: left;
}

.nav-container-right {
    width: 37%;
    height: 100%;
    float: right;
}

.nav-container-left img {
    height: 20px;
    vertical-align: middle;
    margin-top: 25px;
}

.nav-container-left ul {
    display: inline;
}

.nav-container-right  ul li,
.nav-container-left  ul li {
    display: inline;
    vertical-align: bottom;
    margin-left: 3em;
    padding: 1.1em 0;
}

.nav-container-right ul li {
    line-height: 4em;
    padding: 1.2em 0;
}


.nav-container-right ul li:hover,
.nav-container-left  ul li:hover {
    border-bottom: 2px solid black;
    cursor: pointer;
}

.nav-container-right  ul li a,
.nav-container-left  ul li a {
    color: black;
    font-size: 0.7em;
    text-decoration: none;
}

.btnblue {
    font-size: 0.7em;
    color: white;
    padding: 5px 15px;
    background-color: var(--btn-color);
    border: none;
    margin-bottom: 20px;
}

.btnblue:hover {
    box-shadow:  2px 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}



/* jumbotron rules */

.jumbo {
    width: 100%;
    height: 600px;
    background-color:var(--bg-color);
}

/* main rules */

/* firs section rules */

.plans-container {
    width: 70%;
    height: 1300px;
    margin: 0 auto;
}

.section-title {
    width: 100%;
    height: 15%;
    background-color: blue;
}

.plans {
    width: 100%;
    height: 70%;
    background-color: purple;
}

.col {
    width: calc(100% / 3);
    height: 100%;
    border: 1px solid black;
    float: left;
}

.contacts {
    width: 100%;
    height: 15%;
    background-color: yellow;
}

/* second section rules */

.partners-container {
    width: 70%;
    height: 450px;
    background-color: grey;
    margin: auto;
}

.partners-img {
    width: 55%;
    height: 100%;
    border: 1px solid black;
    float: left;
}

.partners-text {
    width: 45%;
    height: 100%;
    border: 1px solid black;
    float: left;
}

/* third section rules */

.functions-container {
    width: 70%;
    height: 800px;
    margin: 0 auto;
}

.functions-title {
    width: 100%;
    height: 12%;
    background-color: crimson;
}

.functions-grill {
    width: 100%;
    height: 88%;
    background-color: lightgreen;
}

/* fourth section rules */

.clients-container {
    width: 100%;
    height: 800px;
    background-color: darkgoldenrod;
}

.clients-container .spam {
    width: 70%;
    height: 20%;
    background-color: darkorchid;
    margin: 0 auto;
}

.clients-container .logos {
    width: 100%;
    height: 50%;
    background-color: darkslategrey;
}

.clients-container .final-spam {
    width: 100%;
    height: 30%;
    background-color: var(--bg-color);
}

/* fifth section */

.frequently-asked-container {
    width: 70%;
    height: 500px;
    background-color: violet;
    margin: 0 auto;
}

/* /main rules */

/* footer rules */

.footer-container {
    width: 100%;
    height: 400px;
    background-color: black;
}